# 15 | The Python Data Science Stack

## 15.2 | The Power of Pandas
### DataCamp - Data Manipulation with Pandas

#### Intro to DataFrame

In [1]:
import pandas as pd

In [7]:
brics = pd.read_csv('BRICS_Data.csv')
brics.head()

,Series Name,Series Code,Country Name,Country Code,2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012]
0,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,Brazil,BRA,-0.125812,7.528226,3.974423,1.921176
1,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,Russian Federation,RUS,-7.799994,4.500000,4.300029,4.024086
2,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,India,IND,7.861889,8.497585,5.241316,5.456388
3,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,China,CHN,9.398726,10.635871,9.550832,7.863736
4,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,South Africa,ZAF,-1.538089,3.039733,3.168556,2.396232

In [13]:
brics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    12 non-null     object
 1   Series Code    10 non-null     object
 2   Country Name   10 non-null     object
 3   Country Code   10 non-null     object
 4   2009 [YR2009]  10 non-null     float64
 5   2010 [YR2010]  10 non-null     float64
 6   2011 [YR2011]  10 non-null     float64
 7   2012 [YR2012]  10 non-null     float64
dtypes: float64(4), object(4)
memory usage: 1.1+ KB

In [17]:
brics.shape

(15, 8)

brics.describe()

Pandas DataFrames are composed of three components, accessible as attributes: values, columns, and index

In [21]:
brics.values

array([['GDP growth (annual %)', 'NY.GDP.MKTP.KD.ZG', 'Brazil', 'BRA',
        -0.125812002161169, 7.52822581815364, 3.97442307944702,
        1.92117598576537],
       ['GDP growth (annual %)', 'NY.GDP.MKTP.KD.ZG',
        'Russian Federation', 'RUS', -7.79999391271275, 4.49999999920672,
        4.30002918567749, 4.02408615746921],
       ['GDP growth (annual %)', 'NY.GDP.MKTP.KD.ZG', 'India', 'IND',
        7.86188883286074, 8.49758470221235, 5.24131619938926,
        5.45638755164701],
       ['GDP growth (annual %)', 'NY.GDP.MKTP.KD.ZG', 'China', 'CHN',
        9.39872563259674, 10.6358710644913, 9.55083217877568,
        7.86373644862111],
       ['GDP growth (annual %)', 'NY.GDP.MKTP.KD.ZG', 'South Africa',
        'ZAF', -1.53808913525583, 3.03973288127956, 3.16855627858818,
        2.39623238465745],
       ['General government final consumption expenditure (% of GDP)',
        'NE.CON.GOVT.ZS', 'Brazil', 'BRA', 19.6506384012198,
        19.0168578356276, 18.6692569364374, 18.5301032637141],
       ['General government final consumption expenditure (% of GDP)',
        'NE.CON.GOVT.ZS', 'Russian Federation', 'RUS', 20.7865966596139,
        18.7250554156357, 17.6255115280966, 17.9672380527257],
       ['General government final consumption expenditure (% of GDP)',
        'NE.CON.GOVT.ZS', 'India', 'IND', 11.459667419691,
        11.0076078674499, 11.0844615855558, 10.6838562318095],
       ['General government final consumption expenditure (% of GDP)',
        'NE.CON.GOVT.ZS', 'China', 'CHN', 14.7529761302757,
        14.5870205780333, 15.2388649383201, 15.7560783884401],
       ['General government final consumption expenditure (% of GDP)',
        'NE.CON.GOVT.ZS', 'South Africa', 'ZAF', 17.7936331368919,
        17.996063602882, 18.1951431854763, 18.8205452606488],
       [nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan],
       ['Data from database: World Development Indicators', nan, nan,
        nan, nan, nan, nan, nan],
       ['Last Updated: 11/13/2024', nan, nan, nan, nan, nan, nan, nan]],
      dtype=object)

Note that the values attribute is a 2D numpy array, where the data objects contained in each "cell" of the table corresponds to a single element of the array.

In [31]:
type(brics.values)

numpy.ndarray

In [27]:
brics.columns

Index(['Series Name', 'Series Code', 'Country Name', 'Country Code',
       '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]'],
      dtype='object')

In [36]:
type(brics.columns)

pandas.core.indexes.base.Index

In [29]:
brics.index

RangeIndex(start=0, stop=15, step=1)

In [34]:
type(brics.index)

pandas.core.indexes.range.RangeIndex

#### Sorting & Subsetting

In [43]:
brics.sort_values('Country Code')

,Series Name,Series Code,Country Name,Country Code,2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012]
0,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,Brazil,BRA,-0.125812,7.528226,3.974423,1.921176
5,General government final consumption expenditu...,NE.CON.GOVT.ZS,Brazil,BRA,19.650638,19.016858,18.669257,18.530103
3,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,China,CHN,9.398726,10.635871,9.550832,7.863736
8,General government final consumption expenditu...,NE.CON.GOVT.ZS,China,CHN,14.752976,14.587021,15.238865,15.756078
2,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,India,IND,7.861889,8.497585,5.241316,5.456388
7,General government final consumption expenditu...,NE.CON.GOVT.ZS,India,IND,11.459667,11.007608,11.084462,10.683856
1,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,Russian Federation,RUS,-7.799994,4.500000,4.300029,4.024086
6,General government final consumption expenditu...,NE.CON.GOVT.ZS,Russian Federation,RUS,20.786597,18.725055,17.625512,17.967238
4,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,South Africa,ZAF,-1.538089,3.039733,3.168556,2.396232
9,General government final consumption expenditu...,NE.CON.GOVT.ZS,South Africa,ZAF,17.793633,17.996064,18.195143,18.820545
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Last Updated: 11/13/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
brics.sort_values('